h1{
    font-size: 3em;
}
h2{
    font-size: 2.1em;
}
#googleMap{
    width:90%;
    height: 110vh;
    margin: 0 auto;
}
#wrapperMsg{
    position: relative;
}
#msg{
    position: absolute;
    top: 2%;
    right: 3%;
}
.text-center{
    text-align: center;
}