h1{
    font-size: 3em;
}
h2{
    font-size: 2.1em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: inherit;
}
.brand-logo>img{
    width: 3.5vw;
    height: auto;
    padding: 5px;
    margin: 0 auto;
}
#jumbotron{
    position: relative;
    height: 50vh;
    background-color: rgba(255,255,255,0.6);
}
#jumbotron:hover {
    /*background-color: transparent;*/
}
#jumBody h1{
    margin-top: 8vh;
}
#jumBody{

}
#jumBody img{
    position: absolute;
    top: 2%;
    /*left: 0;*/
    /*margin: 0 auto;*/
    z-index: -10;
    width: 40vw;
    height: 40vh;
}
#googleMap{
    width:95%;
    height: 90vh;
    margin: 0 auto;
}
#wrapperMsg{
    position: relative;
}
#msg{
    position: absolute;
    top: 2%;
    right: 3%;
}
.text-center{
    text-align: center;
}
.tile{
    width: auto;
    height: 45vh;
    border-bottom: 1px solid grey;
    margin: 3px;
    box-shadow: 3px 2px 1px grey;
    background-color: rgba(255,255,255,0.8);
    position: relative;
}
.tile span{
    position: absolute;
    top: 45%;

    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    z-index: +2;
}
.tile img{
    z-index: -10;
    position: absolute;
    top:0;
    left:0;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.tile i{
    padding-top: 17vh;
}
.tile:hover{
    background-color: transparent;
}
.tile:hover span{
    display: none;
}